html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Times New Roman", Times, serif;
}

#root {
  background-image: url("./assets/image/hogwarts5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.content img {
  width: 150px;
  height: 200px;
}

h2 {
  font-size: 10px;
}

h1 {
  padding-top: 80px;
  color: #d4af37;
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.subtitle {
  color: #d4af37;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.sort-options {
  text-align: center;
  color: #d4af37;
  padding-bottom: 20px;
}

.sort-options label {
  margin-right: 10px;
}

select {
  background-color: goldenrod;
  color: white;
}
